<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div id="jumbo" class="jumbotron">
        <div class="container">
          <h2 id="h2" align='center'><b>CLICK THE BELOW BUTTON TO START QUIZ</b></h2>
          <hr style="height:2px;border-width:0;color:gray;background-color:gray"><br><br><br><br><br>

          
          <a id="a" href="/engqus1" class="btn btn-primary btn-lg btn-block btn-success">Start Quiz</a><br><br><br><br>


          <a id="b" class="btn btn-primary btn-lg btn-danger" href="/ins">Back</a><br><br>





        </div>
      </div>
    </div>
  </body>
</html>
